
body {
    background-image: url("../images/classroom_about_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    
 }

.about-title {
    font-family: 'Gochi Hand', cursive;
    color: orange;
}

p {
    font-size: 30px;
}


.card-title {
    font-size: 30px;
}

.card-info {
    opacity: 0.9;
}


.about-text {
    font-size: 30px;
    font-family: 'Gochi Hand', cursive;
}

.bold {
    font-weight: bold;
}

.text-left {
    margin-top: 10px;
}

.img-right {
    margin: 0;
}