/* General Styles */
#root {
    margin-bottom: 3rem;
}

/* Navbar */
#chatterdoxNav {
    background-color: #7BDFF2;
    height: 100px;
}

nav #title_1 {
margin-left: 45%;
border: none;
font-size: 50px;
font-family: 'Gochi Hand', cursive;
color: #FF9F1C !important;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: inline !important;
    color: black;
}

nav a {
    color: black !important;
}

.base--button_clear, button #title_2 {
    border: none;
    padding: .24em 1em;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Gochi Hand', cursive;
}

.base--button_clear, button #title_2:hover {
    color: #FF9F1C;
}

.material-icons {
    font-size: 2.5rem !important;
}

.base--a:focus, .base--a:hover, a:focus, a:hover {
    color: #FF9F1C !important;
    border-bottom: 2px solid #FF9F1C;
}

/* Story Panels */
.storyCards {
    margin: 0 auto;
}

/* .collapsible {
    background-color:#52DDC6;
} */

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 2rem !important;
    padding: 0 5rem !important;
    border-bottom: 1px solid #ddd;
    /* background-color:#52DDC6 !important; */
}

.btn-floating.btn-large {
    width: 56px;
    height: 56px;
    margin-left: 20px;
    background-color: #FDE74C;    
}

.btn-floating.btn-large:hover {
    background-color: #7BDFF2;
    border-bottom: 2px solid gray;
}

.btn-floating.btn-large i {
    color: black;
}










.base--hr {
    margin-top: 1em;
}

.tab-panels--tab-content {
    min-height: 250px;
}

.arrow-box-container {
    position: relative;
}

sup {
    vertical-align: super;
    font-size: 0.8rem;
}

/* override strange defaults in chrome */
dialog, dd, dt {
    position: static;
    display: block;
    border: 0;
    padding: 0;
}



/* drag-drop styles */
._container {
    position: relative;
}
.base--checkbox + label, .base--radio + label, .prism {
    position: static;
}
.drop-info-container {
    position: absolute;
    display: none;
    /* This div also gets our container classnames in order to be the correct width.
    But, it isn't exactly correct until we fiddle with the padding */
    padding-right: 1rem;
}

.dropzone.dropzone-active .drop-info-container,
.dropzone.dropzone-reject .drop-info-container {
    display: block;
}

.drop-info {
    background-color: white;
    opacity: 0.9;
    padding: 60px;
    min-height: 800px;
    border: 10px dashed #959595; /* gray_40 */
    border-radius: 10px;
    z-index: 1;
}
.drop-info h1 {
    font-size: 60px;
}
.drop-info p {
    font-size: 30px;
}
.dropzone.dropzone-reject .drop-info{
    background-color: #E71D32; /* red_50 */
}

/* settings */

.base--input {
    border: 2px solid #464646;
}

.base--input:hover, .base--input:focus {
    border-width: 2px;
}

.flex > * {
    margin: 6px 6px 0 0;
}
.flex > *:last-child {
    margin-right: 0;
}

@media (min-width: 1024px) {
    .flex {
        display: flex;
    }
    .flex > * {
        flex: 1;
        margin: 0 6px 0 0;
    }
    .flex > *:last-child {
        margin-right: 0;
    }
    .base--input, .base--select {
        max-width: 100%;
    }
}

.base--button:focus {
  outline: 0;
}


.base--button.mic-active {
    background-color: #E71D32;
    color: white;
    border-color: #E71D32
}

.speaker-labels {
    margin-left: 0px;
}

/* Speaker View styles */
.speaker-labels dt {
    font-weight: bold;
    display: inline;
}
.speaker-labels dd {
    display: inline;
}

/* JSONView styles */
.jsonview .options > div {
    display: inline-block;
}
.jsonview .options > div > div {
    display: inline-block;
    margin-right: 1em;
}
.jsonview .options div:before {
    display: none;
}
.json-link--span code {
    word-wrap: break-word;
}

/* Word Timings and Alternatives view styles */
.word-timings-alternatives .word {
    padding-right: 1ex; /*I tried just putting a space in the HTML, but chrome and safari hide it :( */
    display: inline-block;
    margin-top: 0;
}

.smalltext { font-size: 10pt; }



.material-icons.md-48 { font-size: 48px; }
