/* General Styles */
#root {
    margin-bottom: 3rem;
}

/* Navbar */
#chatterdoxNav {
    background-color: #7BDFF2;
    height: 100px;
}

.nav-wrapper {
    padding-top: 10px;
}

nav #chatterdoxLogo {
margin-left: 45%;
border: none;
font-size: 50px;
font-family: 'Gochi Hand', cursive;
color: #FF9F1C !important;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: inline !important;
    color: black;
    border: none;
}

nav a {
    color: black !important;
}

#navbarLinkSpans {
    border: none;
    padding: .24em 1em;
    font-size: 30px;
}

#navbarLinks {
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;    
}

.base--button, button {
    border-color: #354579;
    background-color: #354579;
    font-family: 'Gochi Hand', cursive;
    font-size: 24px;    
    color: white;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.8);    
}

.base--button:hover, .base--button:focus, button:focus, button:hover {
    background-color: #FF9F1C;
    color: white;
    border-color: #FF9F1C;
}

/* .buttonClass:hover, .buttonClass:focus, button:focus, button:hover {
    background-color: #FF9F1C;
    color: white;
    border-color: #FF9F1C;
} */

button:active {
    transform: none;
}

.material-icons {
    font-size: 2.5rem !important;
}

.base--a:focus, .base--a:hover, a:focus, a:hover {
    color: #FF9F1C !important;
    border-bottom: 2px solid #FF9F1C;
}

/* Watson Recorder */
.useMicH3 {
    margin-top: 75px;
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;   
    font-weight: bold;
    color: #354579;
    background-color: white;
    border: black solid 2px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.8);
}

.chatterdoxOrange {
    font-size: 40px;
    color: #FF9F1C;
    font-family: 'Gochi Hand', cursive;    
}

.selectVoiceModel {
    text-indent: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 2; 
    background-color: white;
    border: black solid 2px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.8);
}

.base--select {
    border: none;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.8);
}

select:focus {
    outline: none !important;
    border-color: none !important;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    /* padding: 0px 2px 1px; */
    padding-left: 10px;
    border: none;
}

.voiceModelDropdown {
    font-family: 'Raleway', sans-serif !important;      
}

.base--hr {
    margin-top: 1em;
}

.tab-panels--tab-list {
    border-bottom: 1px solid #7BDFF2;
    background-color: #7BDFF2;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
}

.tab-panels--tab.active {
    color: #354579;
    border-bottom: 6px solid #FF9F1C;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.tab-panels--tab.active:hover {
    color: #354579 !important;
}

.tab-panels--tab.active:focus {
    color: #354579 !important;
    border-left: none;
    border-right: none;
}

.tab-panels--tab-content {
    min-height: 250px;
    border: black solid 2px;
    border-top: none;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.8);   
    font-size: 16px;
    font-family: 'Raleway', sans-serif;    
}

.arrow-box-container {
    position: relative;
}

sup {
    vertical-align: super;
    font-size: 0.8rem;
}

/* override strange defaults in chrome */
dialog, dd, dt {
    position: static;
    display: block;
    border: 0;
    padding: 0;
}

/* drag-drop styles */
._container {
    position: relative;
}
.base--checkbox + label, .base--radio + label, .prism {
    position: static;
}
.drop-info-container {
    position: absolute;
    display: none;
    /* This div also gets our container classnames in order to be the correct width.
    But, it isn't exactly correct until we fiddle with the padding */
    padding-right: 1rem;
}

.dropzone.dropzone-active .drop-info-container,
.dropzone.dropzone-reject .drop-info-container {
    display: block;
}

.drop-info {
    background-color: white;
    opacity: 0.9;
    padding: 60px;
    min-height: 800px;
    border: 10px dashed #959595; /* gray_40 */
    border-radius: 10px;
    z-index: 1;
}
.drop-info h1 {
    font-size: 60px;
}
.drop-info p {
    font-size: 30px;
}
.dropzone.dropzone-reject .drop-info{
    background-color: #E71D32; /* red_50 */
}

/* settings */
.base--input {
    border: 2px solid #464646;
}

.base--input:hover, .base--input:focus {
    border-width: 2px;
}

.flex > * {
    margin: 6px 6px 0 0;
}
.flex > *:last-child {
    margin-right: 0;
}

@media (min-width: 1024px) {
    .flex {
        display: flex;
    }
    .flex > * {
        flex: 1;
        margin: 0 6px 0 0;
    }
    .flex > *:last-child {
        margin-right: 0;
    }
    .base--input, .base--select {
        max-width: 100%;
    }
}

.base--button:focus {
  outline: 0;
}

.base--button.mic-active {
    background-color: white;
    color: #E71D32;
    border-color: #E71D32;
}

.speaker-labels {
    margin-left: 0px;
}

/* Speaker View styles */
.speaker-labels dt {
    font-weight: bold;
    display: inline;
}
.speaker-labels dd {
    display: inline;
}

/* JSONView styles */
.jsonview .options > div {
    display: inline-block;
}
.jsonview .options > div > div {
    display: inline-block;
    margin-right: 1em;
}
.jsonview .options div:before {
    display: none;
}
.json-link--span code {
    word-wrap: break-word;
}

/* Word Timings and Alternatives view styles */
.word-timings-alternatives .word {
    padding-right: 1ex; /*I tried just putting a space in the HTML, but chrome and safari hide it :( */
    display: inline-block;
    margin-top: 0;
}

.smalltext { font-size: 10pt; }


/* Story Panels */
#storyCardHeader {
    text-align: center;
    background-color: #FDE74C;
}

.btn-floating.btn-large {
    width: 56px;
    height: 56px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #FDE74C;    
}

.btn-floating.btn-large:hover {
    background-color: #7BDFF2;
    border-bottom: 2px solid gray;
}

.btn-floating.btn-large i {
    color: black;
}


/* .material-icons.md-48 { font-size: 48px; } */
